@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1> Report stream</h1>
</div>
<div>
    
    <div>
        
        <u1 readonly id="reportList"></u1>
    </div>
</div>



<script src="~/Report.js"></script>